##########
# Common #
##########
#DOCKER_CONTAINER_NAME_PREFIX=
DOCKER_TZ=Europe/Madrid
DOCKER_PATH_TEMPORARY=/docker/tmp
DOCKER_PATH_PERSISTENT=/docker/etc
DOCKER_PATH_DOWNLOADS=/media/downloads
DOCKER_PATH_MOVIES=/media/movies
DOCKER_PATH_TV=/media/tv

###############
# Permissions #
###############
# Obtained using ${id -u}
DOCKER_PUID=1000
# Obtained using ${id -g}
DOCKER_PGID=1000
# Obtained using ${id root -u}
DOCKER_ROOTPUID=0
# Obtained using ${id root -g}
DOCKER_ROOTPGID=0
# Obtained using ${grep /etc/group -e "docker"}
DOCKER_GID=998

###########
# ESPHome #
###########
DOCKER_ESPHOME_DASHBOARDUSEPING=false
DOCKER_ESPHOME_USERNAME=YourESPHomeUsername
DOCKER_ESPHOME_PASSWORD=YourESPHomePassword

####################
# Jackett2Telegram #
####################
DOCKER_JACKETT2TELEGRAM_CHATID=YourTelegramBotChatId
DOCKER_JACKETT2TELEGRAM_TOKEN=YourTelegramBotToken
DOCKER_JACKETT2TELEGRAM_DELAY=60
DOCKER_JACKETT2TELEGRAM_LOGLEVEL=WARNING

############
# Jellyfin #
############
DOCKER_JELLYFIN_PUBLISHEDSERVERURL=YourJellyfinHostIPAndPort
# Moved Logs to another folder to avoid mix with configuration files
DOCKER_JELLYFIN_LOGDIR=/cache/log

############################
# Network UPS Tools Server #
############################
DOCKER_NUTUPSD_API_USER=YourNutUpsdApiUser
DOCKER_NUTUPSD_API_PASSWORD=YourNutUpsdApiPassword
DOCKER_NUTUPSD_ADMIN_PASSWORD=YourNutUpsdAdminPassword
DOCKER_NUTUPSD_UPS_NAME=YourNutUpsdUpsName
DOCKER_NUTUPSD_UPS_DESC=YourNutUpsdUpsDesc
DOCKER_NUTUPSD_UPS_DRIVER=YourNutUpsdUpsDriver
DOCKER_NUTUPSD_UPS_PORT=YourNutUpsdUpsPort
DOCKER_NUTUPSD_SHUTDOWN_CMD=YourNutUpsdShutdownCmd

#############
# Ouroboros #
#############
DOCKER_OUROBOROS_CLEANUP=false
DOCKER_OUROBOROS_MONITOR=All
DOCKER_OUROBOROS_IGNORE=None
DOCKER_OUROBOROS_NOTIFIERS=tgram://YourBotToken/YourBotChatId/
DOCKER_OUROBOROS_LOGLEVEL=info
DOCKER_OUROBOROS_RUNONCE=false
DOCKER_OUROBOROS_SKIPSTARTUPNOTIFICATIONS=false

###############
# qBittorrent #
###############
DOCKER_QBITTORRENT_WEBUIPORT=8085

###########
# Traefik #
###########
DOCKER_TRAEFIK_AZURECLIENTID=YourAzureClientId
DOCKER_TRAEFIK_AZURECLIENTSECRET=YourAzureClientSecret
DOCKER_TRAEFIK_AZUREENVIRONMENT=public
DOCKER_TRAEFIK_AZURERESOURCEGROUP=YourAzureResourceGroup
DOCKER_TRAEFIK_AZURESUBSCRIPTIONID=YourAzureSubscriptionId
DOCKER_TRAEFIK_AZURETENANTID=YourAzureTenantId

