# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*/
!docker-compose.yaml
!docker-compose.yml
!.env.template
!README.md
!.gitignore
!.github/*
!LICENSE

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
.env