# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*/
!.gitignore
!.github/*
!LICENSE

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.